<div class="container mt-5">
  <h1>New review</h1>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content, placeholder: 'Your text here', label: false %>
    <%= f.input :rating, placeholder: 'Rating', label: false, hint: 'Enter a number between 0 and 5' %>
    <%= f.button :submit, class: 'btn btn-success' %>
  <% end %>
</div>
